body {
  font-family: "Kalam", cursive;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
}
form {
  padding: 18px;
  font-size: 16px;
}
h1 {
  border: black solid 1px;
  border-radius: 35px;
  padding: 5px 150px;
  display: inline;
  position: left;
  font-size: 45px;
}
h2 {
  display: inline;
  font-size: 18px;
  border: black solid 1px;
  border-radius: 100px;
  padding: 12px 25px;
  margin-left: 5px;
}

button[type="button"] {
  padding: 10px 18px;
  border-radius: 20px;
  background: rgb(236, 110, 75, 0.7);
}
input[type="text"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 35px;
}
a {
  color: #ec6e4b;
  text-decoration: none;
}
.main {
  border: black solid 1px;
  border-radius: 55px;
  padding: 30px 50px;
}
.details {
  display: inline;
  font-size: 22px;
  border: #ec6e4b solid 1px;
  border-radius: 100px;
  padding: 10px 22px;
  margin-left: 10px;
}
.temperature {
  padding-right: -15px;
}

.timeButton {
  padding: 5px 80px;
  border-radius: 20px;
  position: left;
  background: rgb(236, 110, 75, 0.7);
}
.current {
  font-size: 18px;
  border: black solid 1px;
  border-radius: 35px;
  padding: 25px 80px;
  margin-left: 30px;
}
.currentConditions {
  display: inline-block;
  margin-left: 50px;
  font-size: 14px;
}
.changeUnits {
  display: inline;
}
.units {
  font-size: 12px;
  position: relative;
  top: -8px;
  color: grey;
  text-decoration: none;
}
.wind {
  border: black solid 1px;
  padding: 5px 20px;
  border-radius: 20px;
}
.humidity {
  border: black solid 1px;
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 20px;
}
.row {
  border: #ec6e4b solid 1px;
  border-radius: 55px;
  padding: 30px 80px;
  margin: 8px 15px;
}
.low {
  color: #ec6e4b;
}
.timeButton {
  font-size: 14px;
}
.searchCity {
  opacity: 0.4;
}
